header{ text-align: center;
image-rendering: auto;
text-align: center;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
 
}

header div{
    background-color: #EBEDE4;
}

div.container{
    background-color: #EBEDE4;
}


img[alt*="vacas"]{
  object-fit: cover;
  max-width: 100%;
  height: auto;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .card{
    text-align: center;
    image-rendering: auto;
    background-color: #EBEDE4;
    margin : 10px;
    margin-bottom: 10px;
    border : 10px;
    display: inline-block;
    width : 90%;
    position:relative;
    max-width: 100%;
  }

  .div.text{
    text-align: center;
  }

  .row{
    display: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  footer a{
    color: teal !important;
  }